//SLIDER

.Slider{
	width: 100%;
	position: relative;

	&-container{
		width: 100%;
	}
	// width: 1920px;
	// height: 700px;

	&-item{
		position: relative;

		picture{
			max-width: 100%;
			height: auto;
		}

	}

	.u-centrar{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&-text{
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		color: white;
		text-align: left;
		max-width: 33%; //458px

		h2{
			font-size: pxTOem(72px);
			font-weight: 700;
			text-transform: uppercase;
			margin: 55px 0;
		}

		p{
			font-size: pxTOem(18px);
			font-weight: 400;
			margin: 0 0 57px;
		}

		.btn + .btn{
			margin-left: 10px;
		}
	}
	.owl-dots{
		position: absolute;
		bottom: 40px;
		right: 0;
		z-index: 1000;

		& button{
			border: none !important;
			outline: none !important;
			width: 26px;
			height: 26px;
			line-height: 26px;
			border-radius: 50%;
			margin-left: 4px;
			padding: 0;
			background-color: transparent;
			box-sizing: content-box;
		}

		.owl-dot.active span{
			background-color: $amarillo;
		}

		.owl-dot.active{
			border: 1px solid $amarillo !important;
		}

		& span{
			display: inline-block;
			width: 10px !important;
			height: 10px !important;
			padding: 0;
			background-color: white;
			border-radius: 50%;
		}

	}
}