//SLIDER

.Slider{
	width: 100%;

	&-item{
		position: relative;
	}

	picture{
		max-width: 100%;
		height: auto;
	}

	.u-centrar{
		// position: relative;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&-text{
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		color: white;
		text-align: left;
		max-width: 33%; //458px

		h2{
			font-size: pxTOem(72px);
			font-weight: 700;
			text-transform: uppercase;
			margin: 55px 0;
		}

		p{
			font-size: pxTOem(18px);
			font-weight: 400;
			margin: 0 0 57px;
		}

		.btn + .btn{
			margin-left: 10px;
		}
	}
}