//Normalize
@import "normalize";

//Mixins
@import "mixins";

//Fuentes
@font-face{
	font-family:"Open Sans";
	src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
}
@font-face{
	font-family:"Open Sans";
	src: url(../assets/fonts/OpenSans-Regular.ttf);
	font-weight: 400;
}
@font-face{
	font-family:"Open Sans";
	src: url(../assets/fonts/OpenSans-SemiBold.ttf);
	font-weight: 600;
}
@font-face{
	font-family:"Open Sans";
	src: url(../assets/fonts/OpenSans-Bold.ttf);
	font-weight: 700;
}

//---------------------------------------------------------------------
// COLORES
//---------------------------------------------------------------------

$amarillo: #f1f400;
$lightGray: #eeeeee;
$negroClaro: #444;

//---------------------------------------------------------------------
// ESTILOS GENERALES
//---------------------------------------------------------------------

html{
	position: relative;
	min-height: 100%;
	font-size: 16px;
	font-family:"Open Sans", sans-serif;
}

// body{
// 	margin-bottom: 180px;//para que el footer no tape contenido
// }

img{
	max-width: 100%;
	height: auto;
	vertical-align: bottom; //quita el margen raro abajo de la img
}

.btn{
	display: inline-block;
	width: 200px;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid white;
	transition: all 300ms;

	&:hover{
		background-color: black;
		font-weight: bold;
		color: $amarillo;
		border: 1px solid $amarillo;
	}

	// &:hover{
	// 	background-color: $amarillo;
	// 	font-weight: bold;
	// 	color: black;
	// 	border: 1px solid black;
	// }

	&-on{
		background-color: $amarillo;
		font-weight: bold;
		color: black;		
		
		&:hover{
			background-color: black;
			color: $amarillo;
			border: 1px solid $amarillo;
		}
	}

}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

//---------------------------------------------------------------------
// UTILIDADES (REUSABLE CLASES)
//---------------------------------------------------------------------

.u-centrar{
	margin: 0 auto;
	text-align: center;
	max-width: 1440px;
}

//---------------------------------------------------------------------
// COMPONENTES
//---------------------------------------------------------------------

//Formularios
// @import "form";

/*HEADER*/
@import "header";

/*MENU*/
@import "menu";

/*SLIDER*/
@import "slider";

/*MAIN*/
@import "main";

/*FOOTER*/
@import "footer";

/*RESPONSIVE*/
// @import "responsive";